body {
  background-color: powderblue;
}
h1 {
  font-size: 4rem;
  color: rebeccapurple;
  text-align: center;
  transition: 1s;
}
h1:hover {
  background-color: salmon;
  cursor: pointer;
}

p {
  font-size: 2rem;
  color: seagreen;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
